.App {
  text-align: center;
}
.App :not(.special) {
  text-align: left;
}
.p-in-line {
  display: inline;
  font-size: 0.9rem;
}

.txt {
  text-align: center;
}
.text:hover {
  text-decoration: underline;
}

.row .col {
  text-align: center;
  line-height: 1.2;
  display: inline-block;
  margin-left: 25vw;
  margin-right: 25vw;
}
